/* Setings */

header {
    color: rgba(255, 255, 255, 0.6);
}

.column h1 {
    font-size: 16px;
    font-weight: 700;
}

.column span {
    font-size: 14px;
    font-weight: 400;
    margin: 10px;
    
}

.column p {
    max-width: 300px;

}

.column a {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.column a:hover {
    text-decoration: underline;
}
/* End */

.content {
    display: grid;
    width: 90%;
    margin: auto;
}
@media (max-width:768px) {
    .column h1 {
        margin-bottom: 20px;
    }
}
@media (min-width: 600px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
    .column {
        margin: 0px 30px;
    }
    
}

@media (min-width: 1024px) {
    .content {
        grid-template-columns: repeat(4, 1fr);
    }
}