body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: black!important;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
nav {
    display: grid!important;
    color: white!important;
    line-height: 10px!important;
    /* background-color:black; */
}

.container, .container-md, .container-sm {
    max-width: none!important;
}

/* OPEN */

.topbar {
    float: right;
}

/* END */