nav {
    display: grid!important;
    color: white!important;
    line-height: 10px!important;
    background: black!important;
}

.container, .container-md, .container-sm {
    max-width: none!important;
}

/* OPEN */
.topbar {
    float: right;
}
/* END */