@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body {
  font-family: 'Cabin', sans-serif!important;
}

a {
  font-family: 'Cabin', sans-serif;
}

a:hover {
  color: rgb(134, 134, 134)!important;
}

.wrapper {
  background: black;
  height: 140px;
}

.logo {
  max-width: 130px;
  margin: auto;
  display: block;
}

.nav-overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 10000;
  background-color: black;
  overflow-x: hidden;
  transition: all 0.2s;
  padding-top: 60px;
  text-align: center;
}

.nav-overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 22px;
  color: #E8F4F7;
  display: block;
  transition: 0.2s;
}

.nav-overlay a:hover {
  color: white;
}

.topbar a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.nav-overlay .toggle-nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  font-size: 22px;
}

.nav-overlay .toggle-nav:hover {
  cursor: pointer;
  background-color: #005a75;
}

.nav-items a:last-child {
  display: none;
}

.nav-items {
  float: left;
}

.nav-items a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  margin: 10px;
  text-transform: uppercase;
}
.camuflage {
  display: inline;
  
}
@media screen and (max-width: 1024px) {
  .nav-items {
    float: right;
  }
  .nav-items a {
    display: none;
    padding: 0;
  }
  .nav-items a:last-child {
    display: none;
  }
  .nav-items a:last-child {
    display: block;
    padding: 10px;
    margin: 0;
    border-bottom: none;
  }
  .nav span {
    text-align: left;
    display: block;
    position: absolute;
    padding: 10px;
  }
  .topbar {
    padding: 10px;
    margin: 80px 10px;
  }
  .nav-items a:last-child {
    display: block;
  }
  .logo {
    max-width: 130px;
    margin: revert!important;
    display: block;
    position: absolute;
  }
  .nav-items {
    float: right;
    margin: 80px 10px;
  }
  .camuflage {
    display: none;
  }
}